@import "tailwindcss";

body {
    overflow-x: hidden;
    width: 100%;
}

@theme {
    --font-dm-sans: 'DM Sans', sans-serif;
    --font-sugar-peachy: 'Sugar Peachy', sans-serif;
    --font-archivo: 'Archivo', sans-serif;

    --color-speaker-green: #79c3ab;
    --color-speaker-blue: #74acde;
    --color-speaker-orange: #f7a73c;
    --color-green-dark: #2daa96;
    --color-bg-cream: #fff6ef;
    --color-text-primary: #191919;
    --color-text-orange: #ef7d25;
    --color-text-gray: #4c4d4f;
    --color-text-dark-gray: #505050;

    --color-border-dark: #191919;
    --color-border-gray: #505050;

    /* Section 7 colors */
    --color-mac-red: #FC3F51;
    --color-mac-orange: #ECA031;
    --color-mac-green: #1CB638;
    --color-curve-blue: #2260A1;
    --color-curve-orange: #F7A73C;
    --color-curve-green: #2DAA96;
}

/* Utilitários personalizados se necessário */
@layer utilities {
    .content-stretch {
        align-content: stretch;
    }

    .layout-container {
        width: 100%;
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

/* Fonte Customizada Sugar Peachy */
@font-face {
    font-family: 'Sugar Peachy';
    src: url('/fonts/Sugar%20Peachy/Sugar%20Peachy%20Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sugar Peachy';
    src: url('/fonts/Sugar%20Peachy/Sugar%20Peachy%20Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sugar Peachy';
    src: url('/fonts/Sugar%20Peachy/Sugar%20Peachy%20Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sugar Peachy';
    src: url('/fonts/Sugar%20Peachy/Sugar%20Peachy%20Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sugar Peachy';
    src: url('/fonts/Sugar%20Peachy/Sugar%20Peachy%20Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}